.login-part {
    background: #f3f3f3;;
}
.logoalta {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    margin-bottom: 3vh;
}
.formlogin {
    margin-left: auto;
    margin-right: auto;
}
.inputform {
    width: 25vw;
    border-radius: 5px;
    height: 4vh;
}
.image-right {
    margin-left: 10rem;
    margin-top: 10rem;
}
.image-right2 {
    margin-left: 4rem;
    height: 30rem;
    margin-top: 10rem;
}
.ant-btn-primary {
    background-color: #ffae6b;
    border-color: #FFF2E7;
}
 .ant-btn-primary:hover,
 .ant-btn-primary:focus {
      color: rgb(255, 255, 255);
      border-color: #FF7506;
      background: #FF7506;
    }
    .middle-button {
        text-align: center;
        /* margin-left: 5rem; */
    }
    .middle-button2 {
        margin-left: 10rem;
    }