.logoalta {
    width: 80px;
    height: 64px;
    top: 32px;
}
.logo {
    width: 80px;
    margin-left: 5.5vh;
    margin-right: auto;
    margin-bottom: 3vh;
  }

  .ant-menu > .ant-menu-item {
      color: rgba(169, 169, 176, 1);
      font-size: 16px;
      height: 48px;
      padding-top: 3px;
      /* top:12px; */
      /* left:34px; */
  }
  .ant-menu > .ant-menu-item > li {
        top:12px;
      left:34px;
  }
.ant-menu  > .ant-menu-item :hover {
    /* background-color: #FFF2E7 !important; */
    color:#FF7506;
}

  .ant-menu .active {
    color:#f3f3f3;
    background-color: #FF7506 !important;
    pointer-events:none;
}
.ant-menu .active2 {
    color:#f3f3f3;
    background-color: #FF7506 !important;
}
  .ant-menu > .ant-menu-item .hover-up:hover {
    background-color: #FFF2E7 !important;
    color:#FF7506;
}
.ant-menu-vertical .ant-menu-item .hover-up::after,
.ant-menu-vertical-right .ant-menu-item .hover-up::after,
.ant-menu-inline .ant-menu-item .hover-up::after {
  display: none;
}

.ant-menu-submenu > .ant-menu {
  border-radius: 0 10px 10px 0;
  font-size: 16px;
}

.ant-menu-submenu {
    color: rgba(169, 169, 176, 1);
    font-size: 16px;
}
.ant-menu-submenu:hover{
  color: rgb(17, 17, 211);
  font-size: 16px;
}

.hover-up .abc:focus {
 color: #f3f3f3;
}