.header {
    background: #f3f3f3;
  }
  .site-layout-sub-header-background {
    background: #fff;
  }
  
  .site-layout-background {
    background: #f3f3f3;
  }
    [data-theme="dark"] .site-layout-sub-header-background {
      background: #ffffff;
    }
  .ant-btn-primary {
    background-color: #ffae6b;
    border-color: #FFF2E7;
  }
  .ant-btn-primary:hover,
  .ant-btn-primary:focus {
      color: rgb(255, 255, 255);
      border-color: #FF7506;
      background: #FF7506;
    }
    .ant-table {
      border-radius: 14px;
    }
    .ant-table-thead > tr > th {
        background: rgba(255, 145, 56, 1);
        color: #f3f3f3;
        font-size: 16px;
        line-height: 24px;
    }
      .table-row-light {
        background-color: #ffffff;
        border-color: #FFF2E7;
    }
    .table-row-dark {
        background-color: #FFF2E7;
        border-color: #FFF2E7;
    }

    .add {
        color: #FF7506;
        border: none;
        box-shadow: 0px 0px 6px #E7E9F2;
        border-radius: 8px 0px 0px 8px;
        width: 80px;
    }
    .add:hover {
      color: #FF7506;
      border: none;
    }
    .add:focus {
      color: #FF7506;
      border: none;
    }

      .ant-table-container table > thead > tr:first-child th:first-child {
        border-top-left-radius: 10px;
      }
      .ant-table-container table > thead > tr:first-child th:last-child {
        border-top-right-radius: 10px;
      }

      .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > th,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > thead > tr > th,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > thead > tr > th,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-summary > table > thead > tr > th,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > td,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tbody > tr > td,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tbody > tr > td,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-summary > table > tbody > tr > td,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tfoot > tr > th,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tfoot > tr > th,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tfoot > tr > th,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-summary > table > tfoot > tr > th,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tfoot > tr > td,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tfoot > tr > td,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tfoot > tr > td,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-summary > table > tfoot > tr > td {
  border-right: 1px solid rgba(255, 227, 205, 1);
}
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > th:last-child,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > thead > tr > th:last-child,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > thead > tr > th:last-child,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-summary > table > thead > tr > th:last-child,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > td:last-child,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tbody > tr > td:last-child,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tbody > tr > td:last-child,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-summary > table > tbody > tr > td:last-child,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tfoot > tr > th:last-child,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tfoot > tr > th:last-child,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tfoot > tr > th:last-child,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-summary > table > tfoot > tr > th:last-child,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tfoot > tr > td:last-child,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tfoot > tr > td:last-child,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tfoot > tr > td:last-child,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-summary > table > tfoot > tr > td:last-child {
  border-right: 1px solid rgb(255, 255, 255);
}
.ant-table-tbody > tr > td {
  border-bottom: 1px solid rgba(255, 242, 231, 1);
  transition: background 0.3s;
}
.ant-pagination-item:hover {
  border-radius: 5px;
  background: #FF7506;
}
.ant-pagination-item a {
  color:rgba(126, 125, 136, 1);
}
.ant-pagination-item:hover a {
  color: white;
}
.ant-pagination-item-active {
  background: #FF7506;
}
.ant-pagination-item-active a {
  border-radius: 5px;
  background: #FF7506;
  color: white;
}
.ant-pagination-item  {
  color:rgba(126, 125, 136, 1);
  border:none;
  background: transparent;
}

.ant-modal-footer {
  background: #FF7506;
}
.contentModal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px auto 20px;
}
.contentModal .text{
  color: #535261;
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 24px;
}
.contentModal .number{
  color: #FF7506;
  font-size: 56px;
  line-height: 60px;
  font-weight: 800;
  margin-bottom: 24px;
}
.contentModal .subtext{
  color: #282739;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}
.footerModal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footerModal .text{
  color: rgb(255, 255, 255);
  font-size: 22px;
  line-height: 33px;
  font-weight: 500;
}
.footerModal .text:first-child{
  margin-bottom: 12px;
}
.ant-modal-content {
  border-radius: 10px;
}
.ant-modal-footer {
  border-radius: 0 0 10px 10px;
}